importFrom("grDevices", "rainbow")
importFrom("graphics", "axis", "barplot", "legend", "par", "text",
          "title")
importFrom("stats", "na.omit")
importFrom("utils", "tail")
import("devtools")
import("ggplot2")
import("ggrepel")
import("plotrix")
export(dispBatsmanDismissals)
export(dispBatsmanDismissalsByBowlerType)
export(dispBattingAveByContinent)
export(dispBattingAveByHostCountry)
export(dispBattingAveByOpposition)
export(dispBattingAveByPosPlayed)
export(dispBattingAveByYears)
export(dispBattingAveSRByOpposition)
export(dispBowlerDismissals)
export(dispBowlingAveByYears)
export(dispBowlingAveEconByOpposition)
export(dispBowlingERByYears)
export(dispWktsTakenAtHostCountry)
export(dispWktsTakenByOpposition)
export(getBattingSummary)
export(getBowlingSummary)
export(getDismissalSummary)
export(getOverallBattingSummary)
export(getWicketsSummary)
export(splitBattingSummary)
export(splitBowlingSummary)
export(splitDismissalSummary)
export(splitWicketsSummary)
