exportPattern("^[[:alpha:]]+")
importFrom("grDevices", "rainbow")
importFrom("graphics", "barplot", "legend")
importFrom("utils", "tail")
import("plotrix")
import("htmltab")
import("devtools")
